* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto", "Calibri", sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --color-1: #2F2FE4;
  --color-2: #162E93;
  --color-3: #1A1953;
  --color-4: #080616;
  --color-5: #efefef;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  background-color: var(--color-3);
  padding: 0 16px;
  position: sticky;
  top: 0;
}

.header__branding {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--color-5);
}

.header__banner {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-5);
}

/* Utilities */
.allow-select-text {
  user-select: text;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.navigation__link {
  text-decoration: none;
  color: var(--color-5);
  font-weight: bold;
}

.navigation__link:hover {
  border-bottom: 2px solid var(--color-5);
}

.hero {
  display: flex;
  gap: 32px;
  justify-content: space-evenly;
  align-items: center;
  min-height: 680px;
  background-color: var(--color-4);
  color: var(--color-5);
}

.hero__brief {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero__brief h1 {
  font-size: 3.5rem;
}

.hero__brief p {
  font-size: 1.2rem;
}

.download-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--color-2);
  color: var(--color-5);
  border-radius: 5px;
  border: 2px solid transparent;
  margin-top: 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.15s ease;
  overflow: hidden;
}

.download-resume:hover {
  border: 2px solid var(--color-5);
}

.download-resume span {
  display: inline-block;
  transform: translateY(-100px);
  transition: 0.125s ease;
}

.download-resume:hover span {
  text-align: right;
  display: inline-block;
  transition: 0.25s ease;
  transform: translateY(0);
}

.hero__image {
  max-width: 480px;
}

.hero__image img {
  width: 100%;
}